@font-face {
	font-family: raleway-c;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: outfit-c;
	src: url(../fonts/outfit-regular.woff2);
}
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22223b;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.container::before {
    content: '';
    position: absolute;
    width: 700px;
    height: 700px;
    background-image: conic-gradient(transparent,transparent,transparent, #ffffff);
    animation: rotate 4s linear infinite
}

.container::after {
    content: '';
    position: absolute;
    width: 700px;
    height: 700px;
    background-image: conic-gradient(transparent,transparent,transparent, #6930c3);
    animation: rotate 4s linear infinite;
    animation-delay: -2s;
}

.container span {
    position: absolute;
    inset: 5px;
    z-index: 2;
    border-radius: 16px;
    background-image: url(../images/bg.jpg);
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

img {
    margin-left: 5%;
    margin-right: 5%;
    width: 85%;
    margin-top: -30px;
    margin-block-end: -35px;
}

.inputs {
    width: 83%;
    padding: 15px;
    margin: 0;
}

.inputs2 {
    width: 83%;
    padding: 15px;
}   
button {
    padding: 15px;
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 5%;
    background-color: #5e4b7d;
    width: 83%;
    border-radius: 30px;
    height: 45px;
    text-decoration: none;
    
}

.field {
    margin-left: 5%;
    margin-right: 5%;
    height: 45px;
    width: 100%;
    border-radius: 30px;
}

.inputs i {
    position: absolute;
    right: 60px;
    top: 43%;
    transform: translateY(-45%);
    font-size: 25px;
}

.inputs2 i {
    position: absolute;
    right: 60px;
    top: 60%;
    transform: translateY(-45%);
    font-size: 25px;
}

@media screen and (max-width: 500px) {
    .inputs i {
        color: #00000000;
    }
    .inputs2 i {
        color: #00000000;
    }
}